.user-booking-container {
  width: 172vh;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.user-booking-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #6B8BFE 30%, #6B8BFE 90%);
  color: white;
}

.booking-item {
  margin-bottom: 10px;
}

.booking-item:last-child {
  margin-bottom: 0;
}

.booking-item strong {
  font-weight: bold;
}
